.hero-section {
  width: 100%;

  text-align: center;

  padding-top: 30px;

  padding-bottom: 2px;
}

.hero-section h1 {
  font-size: 32px;

  font-weight: 700;

  color: #111827;

  margin-bottom: 8px;
}

.hero-section p {
  font-size: 15px;

  color: #6b7280;
}
