.top-strip {
  height: 22px;

  background-color: #4338ca;

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 11px;

  font-weight: 500;
}

.navbar {
  height: 52px;

  background-color: white;

  border-bottom: 1px solid #e5e7eb;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 40px;

  position: sticky;

  top: 0;

  z-index: 1000;
}

.logo {
  width: 92px;

  cursor: pointer;
}

.navbar-center {
  display: flex;

  gap: 24px;
}

.navbar-center p {
  font-size: 13px;

  color: #374151;

  cursor: pointer;

  font-weight: 500;
}

.navbar-right {
  display: flex;

  align-items: center;

  gap: 10px;
}

.login-btn {
  background-color: white;

  border: 1px solid #d1d5db;

  padding: 7px 14px;

  border-radius: 4px;

  font-size: 12px;

  cursor: pointer;
}

.signup-btn {
  background-color: #00a5ec;

  color: white;

  border: none;

  padding: 8px 14px;

  border-radius: 4px;

  font-size: 12px;

  font-weight: 600;

  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar {
    padding: 0 16px;
  }

  .navbar-center {
    display: none;
  }

  .signup-btn {
    display: none;
  }

  .logo {
    width: 82px;
  }

}